div.outro {
    margin: 10px auto;
    width: 100%;
    direction: rtl;
  }
  div.outro > h1 {
    text-align: right;
    font-family: Yekan;
    color: #ff0000;
    margin-right: 5%;
  }
  div.outro > p {
    margin-right: 5%;
    margin-left: 8%;
    font-family: Yekan;
    text-align: justify;
  }
  div.outro > h2 > a {
    font-size: 15px;
    margin-left: 3%;
    font-family: Yekan;
    text-decoration: none;
    margin-top: 2px;
    color: #888585;
    text-transform: uppercase;
    font-weight: 600;
    width: 90%;
    padding: 0 10px;
    text-align: center;
    transition: all 300ms linear;
    border: 1px solid #888585;
  }
  div.outro > h2 > a>svg{
    vertical-align: middle;
  }
  div.outro > h2 > a:hover {
    background-color: whitesmoke;
    color: #ef3b51;
    transform: scale(0.9, 0.9);
  }
  
  /*Footer*/
  footer {
    font-size: 20px;
    font-family: cursive;
    font-weight: 500;
    color: black;
    background-image: linear-gradient(
      to top,
      #ff0000,
      #e78200,
      #d0b748,
      #e6f9e8,
      white
    );
  }
  footer > h3 {
    direction: ltr;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: red;
  }
  nav.zemanat > div.lg {
    display: inline-block;
    width: 6%;
    margin-top: 0%;
    margin-right: 5%;
    margin-left: 5%;
  }
  nav.zemanat > div.lg > a > img {
    width: 100%;
    display: inline-block;
  }
  nav.zemanat > div.lg > a > img {
    width: 100%;
    margin-right: 2%;
    margin-left: 2%;
    display: inline-block;
  }
  nav.zemanat > div.lg > a {
    text-align: center;
    font-family: Yekan;
    text-decoration: none;
    color: black;
    font-weight: 100;
    font-size: 15px;
  }
  div.outro > div.radif > div.ba {
    margin-top: 10px;
    display: inline-block;
    width: 24%;
    height: auto;
  }
  div.outro > div.radif > div.ba > ul > li {
    text-decoration: none;
    color: #1b1b1b;
    margin-right: 15%;
    font-size: 17px;
    font-family: Yekan;
    font-weight: 900;
  }
  div.outro > div.radif > div.ba > ul > li > a {
    text-decoration: none;
    color: #888585;
    font-size: 13px;
    font-family: Yekan;
    font-weight: 100;
  }
  div.outro > div.radif > div.ba.io > ul > li.icons > a.insta {
    font-size: 31px;
    color: #888585;
    margin-right: 1%;
    margin-left: 10%;
    transition: 200ms;
  }
  div.outro > div.radif > div.ba.io > ul > li.icons > a.insta:hover {
    background-image: linear-gradient(
      to right top,
      #fff300,
      #ffba00,
      #ff7948,
      #ff307f,
      #ff00b4,
      #e700cb,
      #c100e5,
      #8421ff
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  div.outro > div.radif > div.ba.io > ul > li.icons > a.twitter {
    font-size: 31px;
    color: #888585;
    margin-left: 10%;
    transition: 200ms;
  }
  div.outro > div.radif > div.ba.io > ul > li.icons > a.twitter:hover{
    color: #1DA1F2;
  }
  div.outro > div.radif > div.ba.io > ul > li.icons > a.YT {
    font-size: 31px;
    color: #888585;
    transition: 200ms;
  }
  div.outro > div.radif > div.ba.io > ul > li.icons > a.YT:hover{
    color: rgb(254, 0, 0);
  }
  div.outro > div.radif > div.ba.io > ul > li.icons > a.in {
    font-size: 31px;
    color: #888585;
    transition: 200ms;
    margin-left: 10%;
  }
  div.outro > div.radif > div.ba.io > ul > li.icons > a.in:hover{
    color: #00486e;
  }
  div.outro > div.radif > div.ba.io > ul > li.emailannouncement{
    font-size: 15px;
  }
  div.outro > div.radif > div.ba.io > ul > li > form > input[type=email]{
    width: 80%;
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    background-color: #cecaca63;
    font-family: Yekan;
    outline-width: 0px;
    padding-right: 8px;
    border-width: 0;
  }
  div.outro > div.radif > div.ba.io > ul > li > form > input[type=submit]{
    width: 17%;
    height: 33px;
    border-radius: 8px;
    font-family: Yekan;
    font-weight: 600;
    background-color: #8b8a8a52;
    color: whitesmoke;
    border-width: 0px;
    transition: 300ms;
  }
  div.outro > div.radif > div.ba.io > ul > li > form > input[type=submit]:hover{
    background-color: #ef3b51;
  }
  div.outro>div.enteha{
    position: relative;
  }
  div.outro>div.enteha>div.tozih{
    width: 70%;
    display: inline-block;
  }
  div.outro>div.enteha>div.namad{
    position: absolute;
    top: 2px;
    width: 29%;
    display: inline-block;
    height: auto;
  }
  div.outro>div.enteha>div.namad>p>a>img{
    width: 25%;
    margin: 0% 3%;
  }
  div.outro > div.enteha>div.tozih>h4{
    margin-right: 6%;
    font-family: Yekan;
    font-weight: 500;
  }
  div.outro > div.enteha>div.tozih>p{
    width: 70%;
    margin-right: 6%;
    font-family: Yekan;
    font-display: justify;
    color: grey;
  }
  div.outro > div.enteha>div.tozih> details > summary {
    margin-left: 8%;
    font-family: Yekan;
    text-align: right;
    color: rgb(68, 247, 247);
  }
  div.outro >div.enteha>div.tozih> details {
    margin-right: 6%;
    margin-left: 6%;
    font-family: Yekan;
    text-align: justify;
    color: grey;
  }
  
  div.outro > div.app {
    margin: 10px auto;
    width: 98%;
    height: auto;
    background-image: linear-gradient(
      to right,
      #051937,
      #051e44,
      #042450,
      #05295e,
      #072f6b
    );
    border-radius: 10px;
    direction: rtl;
  }
  
  div.outro > div.app > img {
    text-align: left;
    width: 15%;
    display: inline-block;
    margin-top: 3px;
    margin-right: 1%;
    border-radius: 10px;
    margin-left: 29%;
  }
  div.outro > div.app > a.tag > img {
    text-align: right;
    width: 13%;
    border-radius: 20px;
    margin-top: 8px;
    margin-bottom: 12px;
  }